<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ProyectoWeb</display-name>
  
   <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>comunidadIT.controller.LoginController</servlet-class>
  </servlet>
  
    <servlet>
    <description></description>
    <display-name>SignUpController</display-name>
    <servlet-name>SignUpController</servlet-name>
    <servlet-class>comunidadIT.controller.SignUpController</servlet-class>
  </servlet>
  
     <servlet>
    <description></description>
    <display-name>ListProducts</display-name>
    <servlet-name>ListProducts</servlet-name>
    <servlet-class>comunidadIT.controller.ProductController</servlet-class>
  </servlet>
  
    <servlet>
    <servlet-name>/</servlet-name>
    <jsp-file>/WEB-INF/index.jsp</jsp-file>
</servlet>

    <servlet>
    <servlet-name>LogIn</servlet-name>
    <jsp-file>/WEB-INF/login.jsp</jsp-file>
</servlet>

    <servlet>
    <servlet-name>SignUp</servlet-name>
    <jsp-file>/WEB-INF/singup.jsp</jsp-file>
</servlet>

  <servlet>
    <servlet-name>AddProduct</servlet-name>
    <jsp-file>/WEB-INF/addProduct.jsp</jsp-file>
</servlet>

<servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SignUpController</servlet-name>
    <url-pattern>/SignUpController</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SingUp</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>ListProducts</servlet-name>
    <url-pattern>/ListProducts</url-pattern>
  </servlet-mapping>

<servlet-mapping>
    <servlet-name>/</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
</web-app>